---

---
<div class='max-w-4xl mx-auto flex items-center justify-center px-4 py-2 flex-col gap-4 mb-20'>
	<p class='text-xl text-center text-balance'>
		¿Listos para celebrar las Navidades juntos de nuevo? Descubre la nueva edición y mucho más próximamente.
	</p>
	<h2 class='text-5xl font-normal text-center'>¿Quieres que te avisemos?</h2>
	<form>
		<input type='email' required placeholder='astro@astro.dev' />
		<button type='submit'>Enviar</button>
	</form>
	<h2 class='text-3xl font-bold text-center mb-8'>Últimas publicaciones</h2>
	<div class='proximamente'>
		<!-- Aquí puedes agregar tus posts -->
		<div class='bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition-shadow duration-300'>
			<h3 class='text-3xl mb-3 text-gray-800 text-center'>Próximamente</h3>
			<p class='text-gray-600'>Contenido increíble llegando pronto...</p>
		</div>
	</div>
</div>