---
import Layout from "@/layout/Layout.astro"
import Header from "@/components/sections/Header.astro"
import Hero from "@/components/sections/Hero.astro"
import Footer from "@/components/sections/Footer.astro"
---

<Layout title='Home | Blog' description='Bienvenidos al blog - Compartiendo conocimiento sobre desarrollo web'>
		<div class='flex flex-1 flex-col items-center mt-12'>
			<Hero />
		</div>
</Layout>
