---
import AstroIcon from "@/components/icons/AstroIcon.astro"
import Image from "astro/components/Image.astro"
import Portada from "@/assets/404.png"
---

<div class='flex flex-col items-center gap-8'>
	<div class='flex items-center gap-4'>
		<AstroIcon width={60} height={60} fill='#6366f1' />
		<span class='text-2xl font-semibold text-gray-800'>Construido con Astro</span>
	</div>

	<div class='max-w-md'>
		<Image
			src={Portada}
			alt='Imagen de bienvenida al blog'
			width='400'
			height='300'
			class='rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300'
		/>
	</div>
</div>
