---
import Head from "@/components/sections/Head.astro"
import Footer from "@/components/sections/Footer.astro"
import Header from "@/components/sections/Header.astro"
import NavBar from "@/components/sections/NavBar.astro"

// Definir el tipo de las props del Layout
interface Props {
	title: string
	description: string
	image?: string
}

const { title, description, image = "/astro-logo-light-gradient.svg" } = Astro.props
---

<!doctype html>
<html lang='es' data-theme='dark'>
	<Head title={title} description={description} image={image} />
	<body>
		<div class='min-h-screen w-full'>
			<NavBar />
			<Header />
			<div class='relative z-2'>
				<slot />
			</div>
		</div>
		<Footer />
	</body>
</html>
